/* créer une const qui s'occupera du style */

.header{
    height: 80px;
    padding-top: 38px;
    background-color: coral;
}

.title{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}